@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h2 {
  color: #26418f;
  font-weight: bolder;
}

h3 {
  color: #5c6bc0;
  font-weight: lighter;
}

body {
  background-color: #eceff1;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 14pt;
  margin-bottom: 75px;
}

#front_page_header img {
  display: block;
  margin: 0;
}

#front_page_image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 100%;
}

#front_page_image_text h5 {
  text-align: center;
  font-size: 10pt;
}